<div class="container">
  <div class="card m-4">
    <h5 class="card-title p-4">Lista de Pedidos</h5>
    <div class="card-body">
      <!-- app.component.html -->
      <div class="">
        <div class="table-container">
          <table class="styled-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Cnpj/Cpf</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Carregar</th>
              </tr>
            </thead>
            <tbody>
              @for (item of listaPedidos; track $index) {
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.clientName }}</td>
                <td>{{ item.cnpjOuCpf }}</td>
                <td>{{ item.dataCompra }}</td>
                <td>{{ item.valorTotal }}</td>
                <td><button class="btn btn-primary">Carregar</button></td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
